<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.operation.BannerMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.operation.Banner">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="client_type" jdbcType="TINYINT" property="clientType" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="turn_url" jdbcType="VARCHAR" property="turnUrl" />
    <result column="weight" jdbcType="TINYINT" property="weight" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="click" jdbcType="BIT" property="click" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, type, client_type, img_url, turn_url, weight, start_time, end_time, click, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from banner
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getBannerList" resultMap="BaseResultMap">
       select <include refid="BaseColumnList"/>
       from banner where
      <!-- 非实时性数据,直接取数据库时间,结束时间 <= now或者没有结束时间 -->
      (end_time &lt;= now() or end_time is null)
       and client_type = {clientType} and type = #{type}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      @create by mybatis
    -->
    delete from banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fanyin.model.operation.Banner">
    <!--
      @create by mybatis
    -->
    insert into banner (id, type, client_type, 
      img_url, turn_url, weight,
      start_time, end_time, click, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{clientType,jdbcType=BIT}, 
      #{imgUrl,jdbcType=VARCHAR}, #{turnUrl,jdbcType=VARCHAR}, #{weight,jdbcType=TINYINT},
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{click,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fanyin.model.operation.Banner">
    <!--
      @create by mybatis
    -->
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="clientType != null">
        client_type,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="turnUrl != null">
        turn_url,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="click != null">
        click,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="clientType != null">
        #{clientType,jdbcType=BIT},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="turnUrl != null">
        #{turnUrl,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="click != null">
        #{click,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.operation.Banner">
    <!--
      @create by mybatis
    -->
    update banner
    <set>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="clientType != null">
        client_type = #{clientType,jdbcType=BIT},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="turnUrl != null">
        turn_url = #{turnUrl,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="click != null">
        click = #{click,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanyin.model.operation.Banner">
    <!--
      @create by mybatis
    -->
    update banner
    set type = #{type,jdbcType=TINYINT},
      client_type = #{clientType,jdbcType=BIT},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      turn_url = #{turnUrl,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=TINYINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      click = #{click,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>