<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.operation.SystemNoticeMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.operation.SystemNotice">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fanyin.model.operation.SystemNotice">
    <!--
      @create by mybatis
    -->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, title, type, deleted, add_time, update_time
  </sql>
  <sql id="BlobColumnList">
    <!--
      @create by mybatis
    -->
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    ,
    <include refid="BlobColumnList" />
    from system_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getList" parameterType="com.fanyin.dto.operation.NoticeQueryRequest" resultMap="ResultMapWithBLOBs">
        select id, title, type, deleted, add_time, update_time content from system_notice
        where deleted = false
        <if test="title != null">
            and title like concat('%',#{title},'%')
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="startTime != null">
            and add_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and add_time &lt; #{endTime}
        </if>
        order by add_time desc
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      @create by mybatis
    -->
    delete from system_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fanyin.model.operation.SystemNotice">
    <!--
      @create by mybatis
    -->
    insert into system_notice (id, title, type, 
      deleted, add_time, update_time, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{deleted,jdbcType=BIT}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fanyin.model.operation.SystemNotice">
    <!--
      @create by mybatis
    -->
    insert into system_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.operation.SystemNotice">
    <!--
      @create by mybatis
    -->
    update system_notice
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fanyin.model.operation.SystemNotice">
    <!--
      @create by mybatis
    -->
    update system_notice
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      deleted = #{deleted,jdbcType=BIT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanyin.model.operation.SystemNotice">
    <!--
      @create by mybatis
    -->
    update system_notice
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      deleted = #{deleted,jdbcType=BIT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>