<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.project.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.project.Project">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="borrower_id" jdbcType="INTEGER" property="borrowerId" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="classify" jdbcType="TINYINT" property="classify" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="raise_amount" jdbcType="DECIMAL" property="raiseAmount" />
    <result column="min_tender" jdbcType="DECIMAL" property="minTender" />
    <result column="apr" jdbcType="DECIMAL" property="apr" />
    <result column="platform_apr" jdbcType="DECIMAL" property="platformApr" />
    <result column="period" jdbcType="TINYINT" property="period" />
    <result column="repayment_type" jdbcType="TINYINT" property="repaymentType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="pre_sale_time" jdbcType="TIMESTAMP" property="preSaleTime" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="recheck_time" jdbcType="TIMESTAMP" property="recheckTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="BaseColumnList">
    id, borrower_id, nid, state, classify, title, amount, raise_amount, min_tender, apr,
    platform_apr, period, repayment_type, add_time, pre_sale_time, publish_time, recheck_time,
    end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from project
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getByNid" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from project where nid = #{nid}
    </select>
    <select id="getNewestProject" resultType="java.lang.String">
      select nid from project order by id desc limit 1
    </select>
  <insert id="insertSelective" parameterType="com.fanyin.model.project.Project">
    <!--
      @create by mybatis
    -->
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="borrowerId != null">
        borrower_id,
      </if>
      <if test="nid != null">
        nid,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="classify != null">
          classify,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="raiseAmount != null">
        raise_amount,
      </if>
      <if test="minTender != null">
        min_tender,
      </if>
      <if test="apr != null">
        apr,
      </if>
      <if test="platformApr != null">
        platform_apr,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="repaymentType != null">
        repayment_type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="preSaleTime != null">
        pre_sale_time,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="recheckTime != null">
        recheck_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="borrowerId != null">
        #{borrowerId,jdbcType=INTEGER},
      </if>
      <if test="nid != null">
        #{nid,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="classify != null">
        #{classify,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="raiseAmount != null">
        #{raiseAmount,jdbcType=DECIMAL},
      </if>
      <if test="minTender != null">
        #{minTender,jdbcType=DECIMAL},
      </if>
      <if test="apr != null">
        #{apr,jdbcType=DECIMAL},
      </if>
      <if test="platformApr != null">
        #{platformApr,jdbcType=DECIMAL},
      </if>
      <if test="period != null">
        #{period,jdbcType=TINYINT},
      </if>
      <if test="repaymentType != null">
        #{repaymentType,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preSaleTime != null">
        #{preSaleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recheckTime != null">
        #{recheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.project.Project">
    <!--
      @create by mybatis
    -->
    update project
    <set>
      <if test="borrowerId != null">
        borrower_id = #{borrowerId,jdbcType=INTEGER},
      </if>
      <if test="nid != null">
        nid = #{nid,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="classify != null">
          classify = #{classify,jdbcType=TINYINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="raiseAmount != null">
        raise_amount = #{raiseAmount,jdbcType=DECIMAL},
      </if>
      <if test="minTender != null">
        min_tender = #{minTender,jdbcType=DECIMAL},
      </if>
      <if test="apr != null">
        apr = #{apr,jdbcType=DECIMAL},
      </if>
      <if test="platformApr != null">
        platform_apr = #{platformApr,jdbcType=DECIMAL},
      </if>
      <if test="period != null">
        period = #{period,jdbcType=TINYINT},
      </if>
      <if test="repaymentType != null">
        repayment_type = #{repaymentType,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="preSaleTime != null">
        pre_sale_time = #{preSaleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recheckTime != null">
        recheck_time = #{recheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>