<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.project.ProjectTenderStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.project.ProjectTenderStatistics">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="tender_id" jdbcType="INTEGER" property="tenderId" />
    <result column="classify" jdbcType="TINYINT" property="classify" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, project_id, user_id, tender_id, classify, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from project_tender_statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getByProjectId" resultMap="BaseResultMap">
        select t.id, t.project_id, t.user_id, t.tender_id, t.classify, t.add_time,r.mobile from project_tender_statistics t
            inner join user r on t.user_id = r.id
    </select>

  <insert id="insertSelective" parameterType="com.fanyin.model.project.ProjectTenderStatistics">
    <!--
      @create by mybatis
    -->
    insert into project_tender_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="tenderId != null">
        tender_id,
      </if>
      <if test="classify != null">
          classify,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tenderId != null">
        #{tenderId,jdbcType=INTEGER},
      </if>
      <if test="classify != null">
        #{classify,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.project.ProjectTenderStatistics">
    <!--
      @create by mybatis
    -->
    update project_tender_statistics
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tenderId != null">
        tender_id = #{tenderId,jdbcType=INTEGER},
      </if>
      <if test="classify != null">
          classify = #{classify,jdbcType=TINYINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

    <insert id="insertBatchStatistics" parameterType="com.fanyin.model.project.ProjectTenderStatistics">
        insert into project_tender_statistics (
         project_id, user_id, tender_id, classify
        ) values
        <foreach collection="list" open="(" close=")" item="item" separator=",">
            #{item.projectId},
            #{item.userId},
            #{item.tenderId},
            #{item.classify}
        </foreach>
    </insert>
</mapper>