@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-family:"Microsoft YaHei", simsun, sans-serif;
}
input,button,select,textarea{
    outline:none;
    font-family:"Microsoft YaHei", simsun, sans-serif;
}

ul,li{
    list-style:none;
}

a{
    color: #8d8d8d;
    text-decoration: none;
}

body{
    text-align: center;
}

.login_context{
    background-color: #eeeeee;
    height:660px;
    width: 100%;
    position: absolute;
    top:50%;
    margin-top: -330px;
}

.login_panel{
    width:20%;
    height:342px;
    position: absolute;
    right: 40%;
    bottom: 27%;
    background-image: url("/static/images/login.png") ;
    border: 1px solid #cccccc;
}
.login_panel h2{
    width:237px;
    height:50px;
    line-height:50px;
    margin:0 auto;
    color: #666666;
    padding-top: 15px !important;
    text-align: center;
    /*不可选中*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login_panel ul{
    margin-top:15px;
    width: 230px;
    margin-left:auto;
    margin-right:auto;
}
.login_panel ul li{
    height:36px;
    margin-bottom:20px;
}
.login_panel ul li span{
    float:left;
    display:inline;
    width:36px;
    height:36px;
}
.login_panel ul li span.user_icon{
    background:url(/static/images/user_icon.png) #eaeaea 10px no-repeat;
}
.login_panel ul li span.pwd_icon{
    background:url(/static/images/pwd_icon.png) 10px #eaeaea no-repeat;
}
.login_panel ul li span.valid_icon{
    background:url(/static/images/valide_code_icon.png) 10px #eaeaea no-repeat;
}
.login_panel ul li .login_text{
    float:left;
    display:inline;
    height:26px;
    width:174px;
    border: none;
    background-color:#fff;
    padding:5px 10px;
    font-size:14px;
    color:#999;
}
.wd80{
    width: 80px !important;
}
.login_panel ul li .valid_code_img{
    display: inline-block;
    vertical-align: middle;
    width: 92px;
    height: 36px;
    cursor: pointer;
    margin-left: 2px;
    text-align: center;
}

.login_panel ul li:nth-last-child(2){
    margin-bottom: 10px !important;
}
.login_panel .login_btn{
    background-size:100% 100%;
    width:230px;
    line-height:36px;
    border:none;
    color:#fff;
    font-size:16px;
    cursor: pointer;
    background-color:#FF8000;
}
.login_panel .msg_tip{
    color:red;
    text-align:center;
    table-layout:fixed;
    word-break: break-all;
    overflow:hidden;
    height: auto !important;
    font-size: 14px;
    display: none;
}
