body {
	font-size: 14px;
}

.tabs {
	border-bottom: 1px solid #ccc;
}

a {
	text-decoration: none;
}

input, a, button, select,textarea {
	outline: none;
}
textarea{
	resize:none;
}

.left {
	float: left;
	position: relative;
    height:45px;
    line-height: 45px;
}

.right {
    height:45px;
    line-height: 45px;
	float: right;
}

.layout_norths {
	border: 1px solid #ccc;
	margin-top:10px;
	padding: 10px;
	color: #555;
	height: 45px;
	line-height: 45px;
}

.layout_norths input {
	padding:0 10px;
	height:30px;
	border: 1px solid #ccc;
	width: 280px;
}

.searchBtn {
	background-color: #e3781a;
	display: inline-block;
	line-height: 30px;
	height:31.5px;
	padding: 0 15px;
	margin-right: 10px;
}

.searchBtn {
	color: #fff;
}

.dropBtn {
	text-decoration: none;
	color: #e3781a;
}

.showAdw {
	position: fixed;
	border: 1px solid #ccc;
	background-color: #FFF;
	z-index: 999;
	width: 320px;
	top: 48px;
	left: 265px;
	padding: 10px;
}

.showAdw i {
	color: #e3781a;
	position: absolute;
	top: 8px;
	right: 8px;
}

.showAdw ul li {
	list-style: none;
}

.layout_norths ul li {
	display: inline-block;
}

.showAdw li span {
	display: inline-block;
	width: 60px;
	font-size:12px;
	text-align: right;
	padding-right: 10px;
}

.showAdw li select {
	padding: 5px;
	width: 220px;
	border: 1px solid #ccc;
}

.submitBtn {
	text-align: center;
	width: 320px;
}
.datagrid-header-row{
	height: 36px;
}

.layout_norths ul li a.searchBtn {
	display: inline-block;
	width: 30px;
	height:28px;
	line-height:28px;
	margin-left: 15px;
	text-align: center;
	background-color: #e3781a;
}

.layout_norths li input {
	border: 1px solid #ccc;
	width: 81px;
}


.datagrid-cell-c1-action {
	line-height: 20px;
	text-align: left;
	position: relative;
	overflow: visible;
	padding: 0;
}
.datagrid-cell-c1-action dl{
	height:15px;
	padding: 0 10px;
}

.datagrid-cell-c1-action a {
	color: #e3781a;
}

.datagrid-cell-c1-action dl a:hover {
	background: #e3781a;
	color: #fff;
}

.datagrid-cell-c1-action dt {
	padding: 1px;
	padding-bottom: 0px;
	width: 58px;
	height: 24px;
	line-height: 20px;
	text-indent: 10px;
	text-align: left;
}

.datagrid-cell-c1-action dd {
	display: none;
	position: absolute;
	top: 21px;
	left: -30px;
	z-index: 1;
	width: 60px;
	text-align: left;
	text-indent: 10px;
	background-color: #fff;
	color: #0188cc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.datagrid-cell-c1-action dd a {
	display: block;
	border: 1px solid #c4c4c4;
	border-width: 0 1px;
	border-top: 1px solid #c4c4c4;
}

.datagrid-cell-c1-action:hover dt {
	padding: 0px;
	border: 1px solid #c4c4c4;
	border-bottom: 0px;
	text-indent: 10px;
	background-color: #fff;
	color: #0188cc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.datagrid-cell-c1-action:hover dt a {
	display: block;
}

.datagrid-cell-c1-action:hover dt i {
	display: none;
}

.datagrid-cell-c1-action:hover dd {
	display: block;
}



.w50{ width: 50px !important;}
.w100{ width: 100px !important;}
.w150{ width: 150px !important;}
.w200{ width: 200px !important;}
.w250{ width: 250px !important;}
.w300{ width: 300px !important;}
.w400{ width: 400px !important;}
.w500{ width: 500px !important;}

.h60{ height: 60px !important;}
.h80{ height: 80px !important;}
.h100{height: 100px !important;}
.h150{height: 150px !important;}

.form_item{
	padding:5px;
	margin-left:10px;
	text-align: left;
	float: left;
}
.form_item label {
	margin-top:3px;
	display: inline-block;
	width: 80px;
	font-size: 12px;
	text-align: right;
	float:left;
	padding-right: 10px;
}
.form_item small {
	display: inline-block;
	padding-left: 5px;
    float: right;
    margin-top: 3px;
	width:10px;
	color: red;
}
.form_item input,select,textarea {
	padding: 5px;
	width:200px;
	border: 1px solid #ccc;
}

.inputTree {
	float: right;
	width: 200px;
}

.platform_form {
	padding: 10px;
}

/**
 状态栏高度
 */
.condition_bar {
    height: 85px;
}

.user_role{
    padding: 0 10px;
}

.tabs_body{
    padding: 0 10px;
}







