.multipleSelect {
	width: 280px;
	z-index: 100;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top-width:0;
	font-size: 13px;
    display: none;
}

.multipleSelect ul::-webkit-scrollbar {
	width: 6px;
}

.multipleSelect ul::-webkit-scrollbar-track {
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.4);
	border: 1px solid #FFFFFF;
}

.multipleSelect ul::-webkit-scrollbar-thumb {
	background: rgba(175, 175, 175, 0.5);
	-webkit-box-shadow: 0 0 1px rgba(175, 175, 175, 0.5);
}

.multipleSelect ul li:last-child {
	border: 0;
}

.multipleSelect ul {
	list-style-type: none;
	overflow-x:hidden;
	overflow-y:auto; 
	padding:0;
	margin: 0 auto;
}
.multipleSelect ul li {
	text-align: left;
	line-height:22px;
	height:22px;
	padding:0px 5px;
	border-bottom: 1px solid #ccc;
}
.multipleSelect input {
	margin-right: 5px;
}

.multipleSelect ul li:HOVER {
	background-color: #eee;
}
.multipleSelect ul li label{
	display: block;
}

/*.multiple_toolbar {
	text-align:right;
	border-top: 1px solid #ccc;
	height: 20px;
}

.multiple_toolbar a{
	color:#fff;
	text-decoration:none;
	line-height:20px;
	text-align:center;
	width:30px;
	margin-left:1px;
	display:inline-block;
	background-color:#FF9224;
}*/

.select {
	background: url("../../images/split.png") no-repeat -2px -4px;
	background-position: right;
	padding-right: 20px !important;;
}




















