<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.business.IntegralTypeMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.business.IntegralType">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="score" jdbcType="SMALLINT" property="score" />
    <result column="manner" jdbcType="BIT" property="manner" />
    <result column="random" jdbcType="BIT" property="random" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, nid, type_name, state, score, manner, random, add_time, update_time,remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from integral_type
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="getByNid" resultMap="BaseResultMap">
      select <include refid="BaseColumnList"/>
        from integral_type where state = true and nid = #{nid}
    </select>



  <insert id="insertSelective" parameterType="com.fanyin.model.business.IntegralType">
    <!--
      @create by mybatis
    -->
    insert into integral_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nid != null">
        nid,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="manner != null">
          manner,
      </if>
      <if test="random != null">
        random,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
        <if test="remark != null">
            remark,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nid != null">
        #{nid,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="score != null">
        #{score,jdbcType=SMALLINT},
      </if>
      <if test="manner != null">
        #{manner,jdbcType=BIT},
      </if>
      <if test="random != null">
        #{random,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="remark != null">
            #{remark,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.business.IntegralType">
    <!--
      @create by mybatis
    -->
    update integral_type
    <set>
      <if test="nid != null">
        nid = #{nid,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=SMALLINT},
      </if>
      <if test="manner != null">
          manner = #{manner,jdbcType=BIT},
      </if>
      <if test="random != null">
        random = #{random,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="remark != null">
          remark = #{remark,jdbcType=VARCHAR},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>