<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.business.SystemNoticeMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.business.SystemNotice">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="classify" jdbcType="TINYINT" property="classify" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fanyin.model.business.SystemNotice">
    <!--
      @create by mybatis
    -->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, title, classify, deleted, add_time, update_time
  </sql>
  <sql id="BlobColumnList">
    <!--
      @create by mybatis
    -->
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    ,
    <include refid="BlobColumnList" />
    from system_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getList" parameterType="com.fanyin.dto.business.NoticeQueryRequest" resultMap="ResultMapWithBLOBs">
        select id, title, classify, deleted, add_time, update_time content from system_notice
        where deleted = false
        <if test="title != null">
            and title like concat('%',#{title},'%')
        </if>
        <if test="classify != null">
            and classify = #{classify}
        </if>
        <if test="startTime != null">
            and add_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and add_time &lt; #{endTime}
        </if>
        order by add_time desc
    </select>


  <insert id="insertSelective" parameterType="com.fanyin.model.business.SystemNotice">
    <!--
      @create by mybatis
    -->
    insert into system_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="classify != null">
          classify,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
        #{classify,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.business.SystemNotice">
    <!--
      @create by mybatis
    -->
    update system_notice
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
          classify = #{classify,jdbcType=TINYINT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>