<invebtory>
    <book year="2018">
        <properties>xule2018</properties>
        <name>b</name>
        <author>c</author>
    </book>
    <book year="2018">
        <title>xule2018</title>
        <name>b</name>
        <author>c</author>
    </book>
    <book year="2018">
        <title>xule2018</title>
        <name>b</name>
        <author>c</author>
    </book>
    <book year="2018">
        <title>xule2018</title>
        <name>b</name>
        <author>c</author>
    </book>
    <book year="2018">
        <title>xule2018</title>
        <name>b</name>
        <author>c</author>
    </book>
</invebtory>
