<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.system.SystemConfigMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.system.SystemConfig">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="reserve_value" jdbcType="VARCHAR" property="reserveValue" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id,name, nid, value, remark, type, locked, add_time, update_time,start_time,end_time,reserve_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from system_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.fanyin.model.system.SystemConfig">
    <!--
      @create by mybatis
    -->
    insert into system_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
        <if test="name != null">
            name,
        </if>
      <if test="nid != null">
        nid,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
        <if test="startTime != null">
          start_time,
        </if>
        <if test="endTime != null">
            end_time,
        </if>
        <if test="reserveValue != null">
            reserve_value
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
        <if test="name != null">
            #{name,jdbcType=VARCHAR},
        </if>
      <if test="nid != null">
        #{nid,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="startTime != null">
            #{startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="endTime != null">
            #{endTime,jdbcType=TIMESTAMP}.
        </if>
        <if test="reserveValue != null">
            #{reserveValue,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.system.SystemConfig">
    <!--
      @create by mybatis
    -->
    update system_config
    <set>
        <if test="nid != null">
            name = #{name,jdbcType=VARCHAR},
        </if>
      <if test="nid != null">
        nid = #{nid,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
        <if test="startTime != null">
            start_time = #{startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="endTime != null">
            end_time = #{startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="reserveValue != null">
            reserve_value = #{reserveValue,jdbcType=VARCHAR},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="getByNid" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from system_config WHERE nid = #{nid}
    </select>
    
    <update id="updateConfig" parameterType="com.fanyin.dto.system.config.ConfigEditRequest">
        update system_config SET
            name = #{name},
            type = #{type},
            value = #{value},
            remark = #{remark},
            update_time = now(),
            start_time = #{startTime},
            end_time = #{endTime},
            reserve_value = #{reserveValue},
            locked = #{locked}
        where locked = false and nid = #{nid}
    </update>
    
    <select id="getList" parameterType="com.fanyin.dto.system.config.ConfigEditRequest" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from system_config
        <where>
            <if test="queryName != null and queryName != ''">
                and (name like concat('%',#{queryName},'%') or nid like concat('%',#{queryName},'%') or remark like concat('%',#{queryName},'%') )
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="locked != null">
                and locked = #{locked}
            </if>
        </where>
    </select>
</mapper>