<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.system.SystemOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.system.SystemOperationLog">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="request" jdbcType="VARCHAR" property="request" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="business_time" jdbcType="BIGINT" property="businessTime" />
    <result column="classify" jdbcType="TINYINT" property="classify" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fanyin.model.system.SystemOperationLog">
    <!--
      @create by mybatis
    -->
    <result column="response" jdbcType="LONGVARCHAR" property="response" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, url, operator_id, request, add_time, ip, business_time,classify
  </sql>
  <sql id="BlobColumnList">
    <!--
      @create by mybatis
    -->
    response
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    ,
    <include refid="BlobColumnList" />
    from system_operation_log
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.fanyin.model.system.SystemOperationLog">
    <!--
      @create by mybatis
    -->
    insert into system_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="request != null">
        request,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="businessTime != null">
        business_time,
      </if>
      <if test="response != null">
        response,
      </if>
        <if test="classify != null">
            classify,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="request != null">
        #{request,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="businessTime != null">
        #{businessTime,jdbcType=BIGINT},
      </if>
      <if test="response != null">
        #{response,jdbcType=LONGVARCHAR},
      </if>
        <if test="classify != null">
            #{classify,jdbcType=TINYINT},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.system.SystemOperationLog">
    <!--
      @create by mybatis
    -->
    update system_operation_log
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="request != null">
        request = #{request,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="businessTime != null">
        business_time = #{businessTime,jdbcType=BIGINT},
      </if>
      <if test="response != null">
        response = #{response,jdbcType=LONGVARCHAR},
      </if>
        <if test="classify != null">
            classify = #{classify,jdbcType=TINYINT},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    
    <resultMap id="ExtBaseResultMap" type="com.fanyin.model.system.SystemOperationLog" extends="BaseResultMap">
        <result column="operator_name" jdbcType="VARCHAR" property="operatorName"/>
    </resultMap>
    
    <select id="getList" parameterType="com.fanyin.dto.system.log.OperationQueryRequest" resultMap="ExtBaseResultMap">
       select t.id, t.url, t.operator_id, t.request, t.add_time, t.ip, t.business_time,t.classify,r.operator_name
        from system_operation_log t inner join system_operator r on t.operator_id = r.id
        <where>
            <if test="queryName != null">
                and (t.url like concat('%',#{queryName},'%') or
                r.operator_name like concat('%',#{queryName},'%') or
                t.ip like concat('%',#{ip},'%') )
            </if>
            <if test="classify != null">
                and t.classify = #{classify}
            </if>
            <if test="startTime != null">
                and t.add_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and t.add_time &lt; #{endTime}
            </if>
        </where>
    </select>
    <select id="getResponseById" parameterType="integer" resultType="string">
        select <include refid="BlobColumnList"/>
        from system_operation_log where id = #{id}
    </select>
</mapper>