<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.system.SystemMenuMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.system.SystemMenu">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="sub_url" jdbcType="VARCHAR" property="subUrl" />
    <result column="main_menu" jdbcType="BIT" property="mainMenu" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    t.id, t.name, t.nid, t.pid, t.url,t.sub_url, t.main_menu, t.sort, t.deleted, t.remark, t.add_time, t.update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from system_menu t
    where t.deleted = false and  t.id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.fanyin.model.system.SystemMenu">
    <!--
      @create by mybatis
    -->
    insert into system_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nid != null">
        nid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="url != null">
        url,
      </if>
        <if test="subUrl != null">
            sub_url
        </if>
      <if test="mainMenu != null">
        main_menu,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nid != null">
        #{nid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
        <if test="subUrl != null">
            #{subUrl,jdbcType=VARCHAR},
        </if>
      <if test="mainMenu != null">
        #{mainMenu,jdbcType=BIT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.system.SystemMenu">
    <!--
      @create by mybatis
    -->
    update system_menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nid != null">
        nid = #{nid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
        <if test="subUrl != null">
            sub_url = #{subUrl,jdbcType=VARCHAR},
        </if>
      <if test="mainMenu != null">
        main_menu = #{mainMenu,jdbcType=BIT},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
        update_time = now()
    </set>
    where deleted = false and id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getAllList" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList"/>
        from system_menu t where t.deleted = false
    </select>

    <select id="getMenuList" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList"/>
        from system_menu t
        LEFT JOIN system_role_menu s on t.id = s.menu_id
        LEFT JOIN system_operator_role o on s.role_id = o.role_id
        <where>
            <if test="btnMenu == false">
                /*查询左侧主菜单,即屏蔽按钮菜单*/
                t.main_menu = TRUE and
            </if>
            o.user_id = #{operatorId}
        </where>
        order by t.pid = 0 desc,t.sort asc
    </select>

    <update id="deleteById">
        update system_menu set deleted = true where id = #{id}
    </update>
</mapper>