<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.system.SystemDictMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.system.SystemDict">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nid" jdbcType="VARCHAR" property="nid" />
    <result column="hidden_value" jdbcType="TINYINT" property="hiddenValue" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, name, nid, hidden_value, value, deleted, locked, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from system_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      @create by mybatis
    -->
    delete from system_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fanyin.model.system.SystemDict">
    <!--
      @create by mybatis
    -->
    insert into system_dict (id, name, nid, 
      hidden_value, value, deleted, 
      locked, add_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nid,jdbcType=VARCHAR}, 
      #{hiddenValue,jdbcType=TINYINT}, #{value,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{locked,jdbcType=BIT}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fanyin.model.system.SystemDict">
    <!--
      @create by mybatis
    -->
    insert into system_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nid != null">
        nid,
      </if>
      <if test="hiddenValue != null">
        hidden_value,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nid != null">
        #{nid,jdbcType=VARCHAR},
      </if>
      <if test="hiddenValue != null">
        #{hiddenValue,jdbcType=TINYINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.system.SystemDict">
    <!--
      @create by mybatis
    -->
    update system_dict
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nid != null">
        nid = #{nid,jdbcType=VARCHAR},
      </if>
      <if test="hiddenValue != null">
        hidden_value = #{hiddenValue,jdbcType=TINYINT},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanyin.model.system.SystemDict">
    <!--
      @create by mybatis
    -->
    update system_dict
    set name = #{name,jdbcType=VARCHAR},
      nid = #{nid,jdbcType=VARCHAR},
      hidden_value = #{hiddenValue,jdbcType=TINYINT},
      value = #{value,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      locked = #{locked,jdbcType=BIT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getDictByNid" resultMap="BaseResultMap">
        select <include refid="BaseColumnList" />
        from system_dict where deleted = false and nid = #{nid}
    </select>
</mapper>