<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.user.AccountMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.user.Account">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="available_balance" jdbcType="DECIMAL" property="availableBalance" />
    <result column="recharge" jdbcType="DECIMAL" property="recharge" />
    <result column="tender_freeze" jdbcType="DECIMAL" property="tenderFreeze" />
    <result column="withdraw_freeze" jdbcType="DECIMAL" property="withdrawFreeze" />
    <result column="accumulated_income" jdbcType="DECIMAL" property="accumulatedIncome" />
    <result column="wait_capital" jdbcType="DECIMAL" property="waitCapital" />
    <result column="wait_interest" jdbcType="DECIMAL" property="waitInterest" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, user_id, total, available_balance, recharge, tender_freeze, withdraw_freeze, 
    accumulated_income, wait_capital, wait_interest,version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getByUserId" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from account where user_id = #{userId}
    </select>

  <insert id="insertSelective" parameterType="com.fanyin.model.user.Account">
    <!--
      @create by mybatis
    -->
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="availableBalance != null">
        available_balance,
      </if>
      <if test="recharge != null">
        recharge,
      </if>
      <if test="tenderFreeze != null">
        tender_freeze,
      </if>
      <if test="withdrawFreeze != null">
        withdraw_freeze,
      </if>
      <if test="accumulatedIncome != null">
        accumulated_income,
      </if>
      <if test="waitCapital != null">
        wait_capital,
      </if>
      <if test="waitInterest != null">
        wait_interest,
      </if>
        <if test="version != null">
            version,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="availableBalance != null">
        #{availableBalance,jdbcType=DECIMAL},
      </if>
      <if test="recharge != null">
        #{recharge,jdbcType=DECIMAL},
      </if>
      <if test="tenderFreeze != null">
        #{tenderFreeze,jdbcType=DECIMAL},
      </if>
      <if test="withdrawFreeze != null">
        #{withdrawFreeze,jdbcType=DECIMAL},
      </if>
      <if test="accumulatedIncome != null">
        #{accumulatedIncome,jdbcType=DECIMAL},
      </if>
      <if test="waitCapital != null">
        #{waitCapital,jdbcType=DECIMAL},
      </if>
      <if test="waitInterest != null">
        #{waitInterest,jdbcType=DECIMAL},
      </if>
        <if test="version != null">
            #{version,jdbcType=INTEGER},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.user.Account">
    <!--
      @create by mybatis
    -->
    update account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="availableBalance != null">
        available_balance = #{availableBalance,jdbcType=DECIMAL},
      </if>
      <if test="recharge != null">
        recharge = #{recharge,jdbcType=DECIMAL},
      </if>
      <if test="tenderFreeze != null">
        tender_freeze = #{tenderFreeze,jdbcType=DECIMAL},
      </if>
      <if test="withdrawFreeze != null">
        withdraw_freeze = #{withdrawFreeze,jdbcType=DECIMAL},
      </if>
      <if test="accumulatedIncome != null">
        accumulated_income = #{accumulatedIncome,jdbcType=DECIMAL},
      </if>
      <if test="waitCapital != null">
        wait_capital = #{waitCapital,jdbcType=DECIMAL},
      </if>
      <if test="waitInterest != null">
        wait_interest = #{waitInterest,jdbcType=DECIMAL},
      </if>
      version = verison + 1
    </set>
    where version = #{version} and id = #{id,jdbcType=INTEGER}
  </update>

</mapper>