<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.user.DiscountCouponTenderMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.user.DiscountCouponTender">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tender_id" jdbcType="INTEGER" property="tenderId" />
    <result column="discount_coupon_id" jdbcType="INTEGER" property="discountCouponId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, tender_id, discount_coupon_id, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from discount_coupon_tender
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.fanyin.model.user.DiscountCouponTender">
    <!--
      @create by mybatis
    -->
    insert into discount_coupon_tender
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tenderId != null">
        tender_id,
      </if>
      <if test="discountCouponId != null">
        discount_coupon_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tenderId != null">
        #{tenderId,jdbcType=INTEGER},
      </if>
      <if test="discountCouponId != null">
        #{discountCouponId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.user.DiscountCouponTender">
    <!--
      @create by mybatis
    -->
    update discount_coupon_tender
    <set>
      <if test="tenderId != null">
        tender_id = #{tenderId,jdbcType=INTEGER},
      </if>
      <if test="discountCouponId != null">
        discount_coupon_id = #{discountCouponId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>