<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanyin.mapper.user.DiscountCouponMapper">
  <resultMap id="BaseResultMap" type="com.fanyin.model.user.DiscountCoupon">
    <!--
      @create by mybatis
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="face_value" jdbcType="DECIMAL" property="faceValue" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="period_limit" jdbcType="TINYINT" property="periodLimit" />
    <result column="amount_limit" jdbcType="DECIMAL" property="amountLimit" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="BaseColumnList">
    <!--
      @create by mybatis
    -->
    id, user_id, name, status,type, face_value, start_time, end_time, period_limit, amount_limit,
    add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @create by mybatis
    -->
    select 
    <include refid="BaseColumnList" />
    from discount_coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      @create by mybatis
    -->
    delete from discount_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fanyin.model.user.DiscountCoupon">
    <!--
      @create by mybatis
    -->
    insert into discount_coupon (id, user_id, name, 
      status,type, face_value, start_time,
      end_time, period_limit, amount_limit, 
      add_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT},#{type,jdbcType=TINYINT}, #{faceValue,jdbcType=DECIMAL}, #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP}, #{periodLimit,jdbcType=TINYINT}, #{amountLimit,jdbcType=DECIMAL}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fanyin.model.user.DiscountCoupon">
    <!--
      @create by mybatis
    -->
    insert into discount_coupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
          type,
      </if>
      <if test="faceValue != null">
        face_value,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="periodLimit != null">
        period_limit,
      </if>
      <if test="amountLimit != null">
        amount_limit,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
          #{type,jdbcType=VARCHAR},
      </if>
      <if test="faceValue != null">
        #{faceValue,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="periodLimit != null">
        #{periodLimit,jdbcType=TINYINT},
      </if>
      <if test="amountLimit != null">
        #{amountLimit,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fanyin.model.user.DiscountCoupon">
    <!--
      @create by mybatis
    -->
    update discount_coupon
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
          type = #{type,jdbcType=TINYINT},
      </if>
      <if test="faceValue != null">
        face_value = #{faceValue,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="periodLimit != null">
        period_limit = #{periodLimit,jdbcType=TINYINT},
      </if>
      <if test="amountLimit != null">
        amount_limit = #{amountLimit,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fanyin.model.user.DiscountCoupon">
    <!--
      @create by mybatis
    -->
    update discount_coupon
    set user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      face_value = #{faceValue,jdbcType=DECIMAL},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      period_limit = #{periodLimit,jdbcType=TINYINT},
      amount_limit = #{amountLimit,jdbcType=DECIMAL},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getList" parameterType="com.fanyin.dto.user.CouponQueryRequest" resultMap="BaseResultMap">
      select <include refid="BaseColumnList" />
        from discount_coupon
        <where>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="status != null">
                <choose>
                    <when test="status == 0">
                        /*未使用必须要没有过期*/
                        and status = 0 and end_time &gt; #{now}
                    </when>
                    <when test="status == 1">
                        /*冻结,已使用都默认为使用*/
                        and status in (1,2)
                    </when>
                    <otherwise>
                        /*过期*/
                        and status = 3 or end_time &lt;= #{now}
                    </otherwise>
                </choose>
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>

    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from discount_coupon where user_id = #{userId} and id = #{id}
    </select>

</mapper>