* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


ul {
	list-style-type: none;
}

a {
	color: #4D4D4D;
	text-decoration: none;
}

/**---------------左侧导航菜单start----------*/
 .fanyin_accordion {
 	width: 100%;
 	max-width: 200px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.fanyin_accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 30px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 560;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.div_accordion {
	overflow-y: auto;
	float: left;
	width: 200px;
	border-right: 1px solid #DDE;
}
.div_scrollbar{
	width: 198px;
}

.div_accordion::-webkit-scrollbar {
	width: 2px;
}

.div_accordion::-webkit-scrollbar-track {
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
	border: 1px solid #FFFFFF;
}

.div_accordion::-webkit-scrollbar-thumb {
	background: rgba(175, 175, 175, 0.5);
	-webkit-box-shadow: 0 0 1px rgba(175, 175, 175, 0.4);
}

.fanyin_accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.fanyin_accordion li i.fa-angle-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.fanyin_accordion li.open .link {
	color: #4D4D4D;
}

.fanyin_accordion li.open i {
	color: #4D4D4D;
}
.fanyin_accordion li.open i.fa-angle-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

 .submenu {
 	display: none;
 	background: #F0F0F0;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #d0d0d0;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #4D4D4D;
 	padding: 12px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #FFAF60;
 	color: #4D4D4D;
 }

.submenu>li>a{
	padding-left: 50px;
}
.clicked {
	background-color: #DDDDDD;
}


/**---------------左侧导航菜单end----------*/




/**顶部样式**/
.div_header{
	background: url('/images/logo_white.png') #e3781a no-repeat 60px 20px;
	height: 70px;
	overflow-y:hidden;
}


.div_user{
	color: #fff;
	font-size: 14px;
	float: right;
	margin-top: 25px;
	margin-right: 50px;
}
.logout_btn,.change_pwd_btn,.user_role_menu	{
	color: #fff;
}

.span_user_name{
	margin-right: 40px;
}

